/*this make the responcive grid (top)~~~~~~~~~~~~~~~ */
*   {
    box-sizing: border-box;
}

[class*="col-"] /* For mobile phones: */
{
width: 100%;
}

@media only screen and (min-width: 768px) 
{
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] 
{
    float: left;
    padding: 15px;
    
    /*border: 1px solid red;*/
}

.row::after 
{
    content: "";
    clear: both;
    display: table;
}
/*this make the responcive grid (bottom)~~~~~~~~~~~~~~~ */

/* over flow (top)~~~~~~~~~~~~~~~ */
.overflow 
{
overflow-x:auto;
}
/* over flow(bottom)~~~~~~~~~~~~~~~ */

body
{
    background-image: url("background_gif.GIF");
}

/*colors bg1 #282828 bg2 252F3B*/
/* text #E5FDFF ac1 #3FEEE6 ac2 #FC4445*/

/*page elements start ~~~~~~~~~~~~~  */

/*non spef styls (top) ~~~~~~~~~~~~~  */
#highlight
{
    color: #3FEEE6;
}

.href
{
    color:#3FEEE6;
}

a:link
{
    color: #3FEEE6;
  background-color: transparent;
  text-decoration: none;
  font-family: monospace, sans-serif;
}
 a:visited {
    color: #3FEEE6;
    background-color: transparent;
    text-decoration: none;
  } 
  a:hover 
  {
    color: #FC4445;
    background-color: transparent;
    text-decoration: underline;
  }

/*non spef styls (bottom) ~~~~~~~~~~~~~  */

/*OP bio (top) ~~~~~~~~~~~~~  */
#OP
{
    margin: 50px;
    padding-bottom: 40px;
    background-color: #252F3B;
    border-radius: 25px; /*gives background color rounded corners*/
    color: #E5FDFF;
    font-family: monospace, sans-serif; /*spacific font, general type  this set up allows for backup font if spacific dosent work*/
    text-align: center;
    border: 2px dashed #FC4445;
}
#myName
{
    padding-top: 25px;
    padding-bottom: -25px;
    color: #3FEEE6;
    font-family: Garamond, serif;
    font-size: 70px;
    font-weight: bold;
}
h3.a
{
    font-family: Garamond, serif;
    font-weight: lighter;
    font-size: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*OP bio (bottom) ~~~~~~~~~~~~~  */

/*horizontal nav bar(top)~~~~~~~~~~~~~~~ */
#navBar
{
    color: #E5FDFF;
    background-color: #252F3B;
}
/*code reused and modified form 260 MNDUV*/
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282828;
    position: -webkit-sticky; /* Safari 
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #E5FDFF;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #252F3B;
  }

  .active {
    background-color: #252F3B;
    color:#3FEEE6;
  } */
/*horizontal nav bar(bottom)~~~~~~~~~~~~~~~ */

/*Portfolio links (top)~~~~~~~~~~~~~~~ */
#portfolioTitle
{
    text-align: center;
    font-family: Garamond, serif;
    font-weight: bolder;
    color: #E5FDFF;
    text-align: center;
    background-color: #252F3B;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 25px;
    border: 1px solid #3FEEE6;
}

/* #portfolioImgs
{
    color: #E5FDFF;
    margin-left: 50px;
    margin-right: 50px;
} */
/*Portfolio links (bottom)~~~~~~~~~~~~~~~ */

/*Cre,Edu,Hob (top)~~~~~~~~~~~~~~~ */
#cehTitle
{
    text-align: center;
    font-family: Garamond, serif;
    font-weight: bolder;
    color: #E5FDFF;
    text-align: center;
    background-color: #252F3B;
    margin-top: 50px;
    border-radius: 25px;
    border: 1px solid #3FEEE6;
}

#CEH
{
    color:#E5FDFF;
    font-family: monospace, sans-serif;
    background-color: #252F3B;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}

#cehSect
{
    border: 2px dashed #FC4445;  
}

/*Cre,Edu,Hob (bottom)~~~~~~~~~~~~~~~ */

/*About/Contact Me (top)~~~~~~~~~~~~~~~ */
#aboutMeTitle
{
    text-align: center;
    font-family: Garamond, serif;
    font-weight: bolder;
    color:#E5FDFF;
    background-color: #252F3B;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #3FEEE6;
}
#aboutMe
{
    color:#E5FDFF;
    font-family: monospace, sans-serif;
    background-color: #252F3B;
    padding-top: 25px;
    /* margin-left: 40px; */
    border-radius: 10px;
    border: 1px solid #3FEEE6;
}

#aboutText
{
    padding-top: 40px;
}

#resume
{
    text-align: center;
    padding-top: 40px;
}

/*About/Contact Me (bottom)~~~~~~~~~~~~~~~ */

/*colors bg1 #282828 bg2 252F3B*/
/* text #E5FDFF ac1 #3FEEE6 ac2 #FC4445*/
/*Art page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*Art & Illustrations, Design (top)~~~~~~~~~~~~~~~ */
#Title
{
    color: #E5FDFF;
    font-family: Garamond, serif;
    text-align: center;
    background-color: #252F3B;
    border-radius: 10px;
    border: 1px solid #FC4445;
    margin-top: 50px;
}

#background
{
    color:#E5FDFF;
    font-family: monospace, sans-serif;
    background-color: #282828; 
    border-radius: 10px;
    margin-top: 10px;
}

#backgroundTwo
{
    color:#E5FDFF;
    font-family: monospace, sans-serif;
    background-color: #252F3B; 
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #3FEEE6;
}

/*Art & Illustrations (bottom)~~~~~~~~~~~~~~~ */

#bottom
{
    margin: 20px;
}